<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://att.bbs.duowan.com/forum/201403/15/195459pcxpkgas8szck2cj.jpg</string>
	<string>http://dl.bizhi.sogou.com/images/2014/10/13/915926.jpg</string>
	<string>http://imagscdn.3234.com/attaches/23/07/76798-f8MShl.jpg</string>
	<string>http://filestore.e943.com/resources/game_images/4563/14521414537739.jpg</string>
	<string>http://www.pp3.cn/uploads/201701/2017031804.jpg</string>
	<string>http://pic1.win4000.com/wallpaper/1/55f12443db806.jpg</string>
	<string>http://www.bz55.com/uploads/allimg/150824/139-150R4155521.jpg</string>
	<string>http://www.kele8.com/uploadfile/2015/0306/20150306110851267.jpg</string>
	<string>http://pic1.5442.com/2015/0813/04/06.jpg</string>
</array>
</plist>
